<a href="https://colab.research.google.com/github/afprof/afprof/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
score = 10
score += 5
print(score)
score **= 5
print(score)
score /= 5
print(score)
score /= 5
print(score)

15
759375
151875.0
30375.0

In [20]:
score1, score2, score3 = 10, 20, 30
score_sum = score1 + score2 + score3
print(score_sum)
n_student = 3
score_mean = (score1 + score2 + score3) / 3
print(score_mean)
score1 += 10
score2 += 10
score3 += 10
score_mean = (score1 + score2 + score3) / n_student
print(score_mean)


square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2) / n_student

print(square_of_mean, mean_of_square)

score_variance = mean_of_square - square_of_mean
score_std = score_variance**0.5
print(score_variance, score_std)

60
20.0
30.0
900.0 966.6666666666666
66.66666666666663 8.164965809277257

In [24]:
score1, score2, score3 = 10, 20, 30
score_sum = score1 + score2 + score3
n_student = 3
score_mean = (score1 + score2 + score3) / 3
score_mean = (score1 + score2 + score3) / n_student

square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2) / n_student

score_variance = mean_of_square - square_of_mean
score_std = score_variance**0.5

score1 = (score1 - score_mean)/score_std
score2 = (score2 - score_mean)/score_std
score3 = (score3 - score_mean)/score_std

score_sum = score1 + score2 + score3
n_student = 3
score_mean = (score1 + score2 + score3) / 3
score_mean = (score1 + score2 + score3) / n_student

square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2) / n_student

score_variance = mean_of_square - square_of_mean
score_std = score_variance**0.5


print(score_mean, score_std, score_variance)

0.0 0.9999999999999999 0.9999999999999999

In [28]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 4, 5 ,6
x3, y3, z3 = x1 + x2, y1 + y2, z1 + z2
x4, y4, z4 = x1 - x2, y1 - y2, z1 - z2
x5, y5, z5 = x1 * x2, y1 * y2, z1 * z2
print(x3, y3, z3)
print(x4, y4, z4)
print(x5, y5, z5)

5 7 9
-3 -3 -3
4 10 18

In [30]:
x, y, z = 1, 2, 3
norm = (x**2 + y**2 + z**2)**0.5
print(norm)

x, y, z = x/norm, y/norm, z/norm
norm = (x**2 + y**2 + z**2)**0.5
print(norm)

3.7416573867739413
1.0

In [32]:
x1, y1, z1 = 1, 2, 3
x2, y2, z2 = 4, 5, 6
dot_prod = x1*x2 + y1*y2 + z1*z2
print(dot_prod)

e_distance = (x1 - x2)**2 + (y1 - y2)**2 + (z1 - z2)**2
e_distance **= 0.5
print(e_distance)

32
5.196152422706632

In [35]:
pred1, pred2, pred3 = 10, 20, 30
y1, y2, y3 = 15, 25, 40
s_error1 = (pred1 - y1)**2
s_error2 = (pred2 - y2)**2
s_error3 = (pred3 - y3)**2
print(s_error1, s_error2, s_error3)
mean_s_error = (s_error1**2 + s_error2**2 + s_error3**2) / 3
print(mean_s_error)

25 25 100
3750.0

In [36]:
scores = [10, 20, 30]
print(scores[0], scores[1], scores[2])

10 20 30